<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linss.gshop.mapper.CartMapper">

    <resultMap id="CartResultMap" type="com.linss.gshop.entity.Cart">
        <id property="cartId" column="cart_id"/>
        <result property="userId" column="user_id"/>

        <collection property="cartItems" ofType="com.linss.gshop.entity.CartItem">
            <id property="itemId" column="item_id"/>
            <result property="cartId" column="cart_id"/>
            <result property="gid" column="gid"/>
            <result property="title" column="title"/>
            <result property="quantity" column="quantity"/>
            <result property="price" column="price"/>
        </collection>
    </resultMap>

    <select id="getCart" resultMap="CartResultMap">
        SELECT c.cart_id, c.user_id,
        ci.item_id, ci.gid, ci.title, ci.quantity, ci.price
        FROM cart c
        LEFT JOIN cart_item ci ON c.cart_id = ci.cart_id
    </select>

    <select id="getCartById" resultMap="CartResultMap">
        SELECT c.cart_id, c.user_id,
        ci.item_id, ci.gid, ci.title, ci.quantity, ci.price
        FROM cart c
        LEFT JOIN cart_item ci ON c.cart_id = ci.cart_id
        WHERE ci.item_id = #{id}
    </select>

    <select id="getCartByUserId" resultMap="CartResultMap">
        SELECT c.cart_id, c.user_id,
        ci.item_id, ci.gid, ci.title, ci.quantity, ci.price
        FROM cart c
        LEFT JOIN cart_item ci ON c.cart_id = ci.cart_id
        WHERE c.user_id = #{userId}
    </select>

    <insert id="addCartItem">
        INSERT INTO cart_item (cart_id, gid, quantity, price, title)
        VALUES (#{cartId}, #{gid}, #{quantity}, #{price}, #{title})
    </insert>

    <insert id="addCart" parameterType="com.linss.gshop.entity.Cart">
        INSERT INTO cart (user_id, created_at)
        VALUES (#{userId}, NOW())
    </insert>

    <update id="updateCart">
        UPDATE cart
        SET user_id = #{userId}
        WHERE cart_id = #{cartId}
    </update>

    <update id="updateCartItem">
        UPDATE cart_item
        SET cart_id = #{cartId},
        gid = #{gid},
        quantity = #{quantity},
        price = #{price},
        title = #{title}
        WHERE item_id = #{itemId}
    </update>

    <delete id="deleteCartItem">
        DELETE FROM cart_item
        WHERE item_id = #{itemId}
    </delete>

    <delete id="deleteCart">
        DELETE FROM cart
        WHERE cart_id = #{id}
    </delete>

</mapper>
